@import "tailwindcss";

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #1a1a24;
}

/* Estilos para el scrollbar */
/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar vertical */
  height: 8px; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: #2b2a3d; /* Color del fondo del track del scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffbade; /* Color del "pulgar" del scrollbar */
  border-radius: 10px;
  border: 2px solid #2b2a3d; /* Borde alrededor del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background: #e0a3c7; /* Color del pulgar al pasar el ratón */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Ancho del scrollbar (auto, thin, none) */
  scrollbar-color: #ffbade #2b2a3d; /* color-thumb color-track */
}


.day-mode {
    background-color: #f3f4f6;
}

/* Estilos del switch que no usan Tailwind */
.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 48px;
}
.theme-switch input { display: none; }
.slider {
    background-color: #4b5563;
    position: absolute;
    cursor: pointer;
    inset: 0;
    transition: .4s;
    border-radius: 24px;
}
.slider:before {
    background-color: #fff;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider { background-color: #ffbade; }
input:checked + .slider:before { transform: translateX(24px); }

/* Estilos para el contenido renderizado por Tiptap */
.prose-invert {
    color: #d1d5db; /* Color de texto por defecto */
}
.prose-invert a {
    color: #ffbade;
}
.prose-invert blockquote {
    border-left-color: #4b5563;
    color: #9ca3af;
}
.prose-invert strong {
    color: #ffffff;
}

/* --- Estilos para Spoilers --- */
[data-spoiler] {
    background-color: #374151; /* Un gris oscuro */
    color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0 4px;
    border-radius: 4px;
}

[data-spoiler]:hover {
    background-color: #4b5563;
}

/* Clase que se añadirá con JS para revelar los spoilers */
.spoilers-revealed [data-spoiler] {
    background-color: transparent;
    color: inherit;
    cursor: default;
}
