@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Cargar Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background: #201f31;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}

